html, body, * {
	transition: 1s;
}
/*IMAGES*/
img {pointer-events: none;}

.img-wrapper {
	background-repeat: no-repeat;
	background-size: cover;}

/*.hero-img {background-image: url(../img/bgr-top.jpg);}*/
.hero-img {background: url(../img/bgr-top.jpg) no-repeat center;}
.news-img-1 {background-image: url(../img/news-1.jpg);}
.news-img-2 {background-image: url(../img/news-2.jpg);}
.blog-img-1 {background-image: url(../img/blog-1.jpg);}
.adv-img {background-image: url(../img/advantages.jpg);}
.foo-img {background-image: url(../img/footer.jpg);}
/*IMAGES END*/

/*COLORS*/
.bgr-blue {background-color: #11749e;}
.bgr-black {background-color: #222222;}
.bgr-white {background-color: #ffffff;}
.bgr-white-2 {background-color: #f3f3f3;}
/*COLORS END*/


/*NAVIGATION & HERO*/
.brand-square {
	width: 2.8em;
	height: 2.8em;
	-webkit-box-shadow: .5em .35em 0px 0px rgba(255,255,255,0.75);
	-moz-box-shadow: .5em .35em 0px 0px rgba(255,255,255,0.75);
	box-shadow: .5em .35em 0px 0px rgba(255,255,255,0.75);}

.navbar {padding: 0;}

#navbar {
	border-bottom: 1px solid rgba(255,255,255,0.75);
	z-index: 999;}

.nav-link {   
    word-wrap: break-word; /* Internet Explorer 5.5+ */}

.nav-item:hover {border-bottom: 2px solid #fff;}

#icons {}

.mt-hero-name {margin-top: 14rem;}

.hero-name {
	font-size: 8rem;
	letter-spacing: .3rem;
	/*margin-bottom: 0px;*/}

.hero-descr {
	color: #11749e;
	letter-spacing: 1.1rem;}

.scroll-btn {
	background-image: url(../img/scroll-btn.svg);
	background-repeat: no-repeat;
	width: 65px;
	height: 65px;}
/*NAVIGATION & HERO END*/

/*OPTIONS & ETC*/
.ind-999 {z-index: 999;}

.vh-hero {height: 100vh;}

.absolute-center {
	left: 0;
	right: 0;}

.img-fit {
	max-height: 100%;
	max-width: 100%;}

.circle {
	border-radius: 50%;
	width: 133px;
	height: 133px;
	background-color: #2e85aa;}
/*OPTIONS & ETC END*/

/*SIZES*/
#about {height: 738px;}
#news {height: 948px;}
#blog {height: 1017px;}
#note {height: 355px;}
#advantages {height: 851px;}
#ourteam {height: 944px;}
#form {height: 854px;}
#map {height: 332px;}
#footer {height: 123px;}
/*SIZES END*/

/*FONTS*/
/*FONTS END*/

/*PADDINGS*/
/*PADDINGS END*/


/*.overflow-hidden {overflow: hidden;}*/
/*.big-letter {transform: scaleY(2);}*/


@media (min-width: 1200px) {
	/*.hero-name {padding-top: 16rem;}*/
	/*.hero-descr {margin-bottom: 3rem;}*/
	.navbar-brand {
		padding: .2rem 6rem 0 2.3rem;
		margin-right: 4.2rem;}
	.px-custom {
		padding-left: 1.3rem!important;
		padding-right: 1.3rem!important;}
}

@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) {
	.hero-name {font-size: 6rem;}
	.hero-descr {
	font-size: 1rem;
	letter-spacing: 0.8rem;}
	.vh-opt {height: 50vh!important;}
	#news, #blog, #note, #ourteam {height: auto;}

@media (max-width: 575.98px) {
	.vh {height: 75vh;}
	.hero-name {font-size: 3rem;}
	.hero-descr {
	font-size: 1rem;
	letter-spacing: 0.14rem;}
}
@media (max-width: 319.98px) {
	.hero-name {font-size: 0.8rem;}
	.hero-descr {
	font-size: 0.6rem;
	letter-spacing: 0.1rem;}
	.news-text {font-size: 0.49rem;}
	.navbar-brand, .navbar-toggler {margin: 0 auto;}
	.navbar-brand {padding: 0 1rem 1rem 0;}
}